page-hackchat {
    
        
        .content {
            background: black;
        }
    
        .logo {
            color: white;
        }
    
        .description {
            color: whitesmoke;
            white-space: pre-wrap;
        }
        
        .channel {
            color: greenyellow;
        }
    
        a {
            color: wheat;
        }
        
    }